.home{
  // margin: 0 auto;
  position: relative;
  &_container {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

}

ion-button {
  margin-top: 20px;
  height: 40%;
}